bin/
obj/
.idea/
/packages/
/_ReSharper.Caches/
.idea/
Folder.DotSettings.user
*.vsidx
*.vsidx
*.bin
*.sqlite
*.suo
/.vs
.env
/Tests/obj/*
/Src/obj/*
/Src/bin/*
/Tests/bin/*
/.vs
/.idea/*
nuget.config
.DS_Store
*/DS_Store
**/DS_Store